__pycache__/
*.py[cod]
*.pyo
*.pyd
*.DS_Store
.env
.venv/
*.log

# IDE/project files
.idea/
.vscode/
Proposed/.idea/

# Virtual environments
Env/__pycache__/
Env/*.pyc

# Local datasets not stored in git
offline_data_hub/opendata/data_to_unzip/
offline_data_hub/opendata/data_to_unzip.zip
